<!DOCTYPE html>
<html>
<body>
<form action="/action_page.php">
  <label for="title">Goal name:</label><br>
  <input type="text" id="title" name="title" value="Running"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" value="description"><br>
  <label for="startDate">startDate:</label><br>
  <input type="date" id="startDate" name="startDate" ><br><br>
  <label for="endDate">Goal Date:</label><br>
  <input type="date" id="endDate" name="endDate" ><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
