<!DOCTYPE html>
<html>
<body>
   <nav>
    {{>navbar}}
    </nav>
    <br>
<body class="container">
<h2>Add a new goal to your weekly plan</h2>
<p>Input the date that coresponds to the weekly plan you wish to add the goal to</p>
<form method="post" role="form">
<div class="form-group">
    <label for="weekStartDate">Plan date</label>
    <input type="date" class="form-control" id="weekStartDate"
    name="weekStartDate" placeholder="weekStartDate" required>
 </div>
 <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title"
    name="title" placeholder="Title" required>
 </div>
 <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description"
    placeholder="Describe your fitness goal here" rows="3"
required>
</textarea>
 </div>
 <div class="form-group">
    <label for="startDate">Start date </label>
    <input type="date" class="form-control" id="startDate"
    name="startDate" required>
 </div>
 <div class="form-group">
    <label for="endDate">End date</label>
    <input type="date" class="form-control" id="endDate"
    name="endDate" required>
 </div>
  <div class="form-group">
    <label for="targetReps">Target reps</label>
    <input type="number" class="form-control" id="targetReps"
    name="targetReps" required>
 </div>
 <div class="form-group">
    <input type="submit" value="submit" class="btn btn-primary">
 </div>
</form>
</body>
</html>