<!DOCTYPE html>
<html>
<body>
   <nav>
    {{>navbar}}
    </nav>
    <br>
<body class="container">
<h2>Create a new weekly plan</h2>
<form method="post" role="form">
<div class="form-group">
    <label for="weekStart">Choose a start date</label>
    <input type="date" class="form-control" id="weekStart"
    name="weekStart" placeholder="weekStart" required>
 </div>
<!--goal 1 -->

 <div class="form-group">
    <label for="title1">Title</label>
    <input type="text" class="form-control" id="title1"
    name="title1" placeholder="Title" required>
 </div>

 <div class="form-group">
    <label for="description1">Description</label>
    <textarea class="form-control" id="description1" name="description1"
    placeholder="Describe your fitness goal here" rows="3"
required>
</textarea>
 </div>

 <div class="form-group">
    <label for="startDate1">Start date </label>
    <input type="date" class="form-control" id="startDate1"
    name="startDate1" required>
 </div>

 <div class="form-group">
    <label for="endDate1">End date</label>
    <input type="date" class="form-control" id="endDate1"
    name="endDate1" required>
 </div>

<!--goal 2 -->
<br>
  <div class="form-group">
    <label for="title2">Title</label>
    <input type="text" class="form-control" id="title2"
    name="title2" placeholder="Title" required>
 </div>

 <div class="form-group">
    <label for="description2">Description</label>
    <textarea class="form-control" id="description2" name="description2"
    placeholder="Describe your fitness goal here" rows="3"
required>
</textarea>
 </div>

 <div class="form-group">
    <label for="startDate2">Start date </label>
    <input type="date" class="form-control" id="startDate2"
    name="startDate2" required>
 </div>

 <div class="form-group">
    <label for="endDate2">End date</label>
    <input type="date" class="form-control" id="endDate2"
    name="endDate2" required>
 </div>
 
 <!--goal 3 -->

  <div class="form-group">
    <label for="title3">Title</label>
    <input type="text" class="form-control" id="title3"
    name="title3" placeholder="Title" required>
 </div>

 <div class="form-group">
    <label for="description3">Description</label>
    <textarea class="form-control" id="description3" name="description3"
    placeholder="Describe your fitness goal here" rows="3"
required>
</textarea>
 </div>

 <div class="form-group">
    <label for="startDate3">Start date </label>
    <input type="date" class="form-control" id="startDate3"
    name="startDate3" required>
 </div>

 <div class="form-group">
    <label for="endDate3">End date</label>
    <input type="date" class="form-control" id="endDate3"
    name="endDate3" required>
 </div>

 <div class="form-group">
    <input type="submit" value="submit" class="btn btn-primary">
 </div>
</form>
</body>
</html>