<!DOCTYPE html>
<html>

<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        table, th, td {
  border: 1px solid black;
}

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>
</head>

<body>

    <ul>
        <li><a class="/" href="#home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/login">logout</a></li>

    </ul>
    <a href= "/add">Add new goal</a>
<h1>Weekly plan</h1>
<h2>{{weekNumber}}</h2> 
<table>
<tr>
<th> Goal title </th>
<th> Goal Description </th>
<th> Started on </th>
<th> Finish by </th>
<th>progress made</th>
</tr> 
{{#goals}} 
 <tr>
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{createdOn}}</td>
<td>{{finishBy}}</td>
<td>{{progressMade}} %</td>
</tr>
 {{/goals}} 
 {{^goals}}
 No entries yet.
 {{/goals}} 

</table>

</body>

</html>