<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
        table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
   <nav>
    {{>navbar}}
    </nav>
    <br>
    <a href= "/add" class="btn btn-primary btn-sm" role="button">Add new goal</a>
    <a href= "/update" class="btn btn-primary btn-sm" role="button">Update a goal</a>
    <a href= "/remove" class="btn btn-primary btn-sm" role="button">Remove a goal</a>
    <a href= "/progress" class="btn btn-primary btn-sm" role="button">Add progress to a goal</a>
    <a href= "/filter" class="btn btn-primary btn-sm" role="button">Show incomplete goals</a>
    <a href= "/plan" class="btn btn-warning btn-sm" role="button">Add a new weekly plan</a>

<h1>Weekly plan</h1>
<h2>{{startDate}}</h2> 
<table>
<tr>
<th> Goal title </th>
<th> Goal Description </th>
<th> Started on </th>
<th> Finish by </th>
<th> Target Reps </th>
<th> isComplete </th>

</tr> 
{{#goals}} 
 <tr>
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{startDate}}</td>
<td>{{endDate}}</td>
<td>{{targetReps}}</td>
<td>{{isComplete}}</td>
</tr>
 {{/goals}} 
 {{^goals}}
 {{/goals}} 

</table>

<form method="post" role="form">
 <div >
    <label for="chosenDate">Enter date for weekly plan that you wish to view:</label>
    <input type="date" class="form-control" id="chosenDate"
    name="chosenDate" required>
 </div>
 <div class="form-group">
    <input type="submit" value="submit">
 </div>
</form>

</body>

</html>