<!DOCTYPE html>
<html>

<head>
<style>
        table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
   <nav>
    {{>navbar}}
    </nav>
    <br>
    <a href= "/add">Add new goal</a>
    <a href= "/plan">Add new goal</a>

<h1>Weekly plan</h1>
<h2>{{weekNumber}}</h2> 
<table>
<tr>
<th> Goal title </th>
<th> Goal Description </th>
<th> Started on </th>
<th> Finish by </th>
<th>progress made</th>
</tr> 
{{#goals}} 
 <tr>
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{startDate}}</td>
<td>{{endDate}}</td>
<td>{{progressMade}} %</td>
</tr>
 {{/goals}} 
 {{^goals}}
 No entries yet.
 {{/goals}} 

</table>

</body>

</html>